////////////////////////////////////////////////////////////////////////////////
// LIB
////////////////////////////////////////////////////////////////////////////////
@import './lib/foundation-sites';
@include add-foundation-colors;

////////////////////////////////////////////////////////////////////////////////
// UTILITIES
////////////////////////////////////////////////////////////////////////////////
// @import './global/layout_mode';

////////////////////////////////////////////////////////////////////////////////
// GLOBAL
////////////////////////////////////////////////////////////////////////////////
@import './global/prism';
@import './global/animation';
@import './global/tooltip';
@import './global/file-inputs';

////////////////////////////////////////////////////////////////////////////////
// COMPONENTS
////////////////////////////////////////////////////////////////////////////////
@import './components/auth';
@import './components/editor';
@import './components/macy';
@import './components/database-explorer';
@import './components/scorch';
@import './components/steganography';

// TYPOGRAPHY //////////////////////////////////////////////////////////////////
body {
  background: #f8f8f8;
}

a {
  color: $warning-color;

  &:hover {
    transition: color .1s ease-in-out;
    color: $alert-color;
  }
}

::selection {
  background: $light-gray;
}

code, kbd {
  border: 0;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 4px 8px;
  margin: 0 4px;
}

dl dt {
  margin-bottom: 0;
}

dd {
  margin-bottom: 1rem;
}

// BADGES, LABELS, PROGRESS ////////////////////////////////////////////////////
.label {
  margin: 0 4px;
  padding: 8px 16px 8px 16px;
  border-radius: $global-radius;
  font-size: 14px;

  i {
    margin: 2px 4px 2px 0;
    display: inline-block;
    font-size: 1.2rem;
  }
}

span.badge {
  @extend .label;
  margin: 0 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 10rem;
  font-size: 14px;

  &.secondary {
    background-color: $lighter-gray;
    color: $medium-gray;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.progress, .progress-meter {
  border-radius: 10rem;
  height: 6px;
}

// CALLOUT /////////////////////////////////////////////////////////////////////

h4, h5, h6 {
  font-weight: 700;
  color: $dark-gray
}

.callout {
  border: 0;
  padding: 2rem;
  background-color: #e8e8e8;
  color: $black;
  box-shadow: $global-shadow;

  &.alert {
    background: $alert-color;
    h4, h5, h6, p {
      color: $white;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.success {
    @extend .alert;
    background: $success-color;
  }
  &.warning {
    @extend .alert;
    background: $warning-color;
  }
}

// BUTTONS /////////////////////////////////////////////////////////////////////
a.button, .button-group a.button, button.button, .button-group button.button {
  margin: 0;
  padding: 8px 16px 6px 16px;
  border-radius: $global-radius;
  box-shadow: $global-shadow;
  transition: all .1s ease-in-out !important;
  font-size: .875rem;
  background: $black;
  outline: none !important;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $alert-color !important;
    color: $white;
    outline: none !important;
  }

  &.primary, &.secondary, &.success, &.warning {
    &:hover, &:focus {
      background: $alert-color !important;
      color: $white !important;
      outline: none !important;
    }
  }

  &.secondary {
    background: $white;
    color: $medium-gray;
    box-shadow: $global-shadow-light;
  }

  &.alert {
    color: $white;
  }

  &.save-button {
    margin-left: 4px;
  }

  &.black {
    background: $black;
  }


}

// FORMS ///////////////////////////////////////////////////////////////////////

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5500s ease-in-out 0s;
}

[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {
  @extend %scorched-background;
  box-shadow: none;
  border: 1px solid $light-gray;
}

input, textarea {
  &::-webkit-input-placeholder { color: $medium-gray; }
  &:focus::-webkit-input-placeholder { color: $dark-gray; }
  /* Firefox < 19 */
  &:-moz-placeholder { color: $medium-gray; }
  &:focus:-moz-placeholder { color: $dark-gray; }
  /* Firefox > 19 */
  &::-moz-placeholder { color: $medium-gray; }
  &:focus::-moz-placeholder { color: $dark-gray; }
  /* Internet Explorer 10 */
  &:-ms-input-placeholder { color: $medium-gray; }
  &:focus:-ms-input-placeholder { color: $dark-gray; }
}

// BREAKPOINT //////////////////////////////////////////////////////////////////
@include breakpoint(small) {
}
@include breakpoint(medium) {
}
@include breakpoint(large) {
}

@include breakpoint(small only) {
}
@include breakpoint(medium only) {
}
@include breakpoint(large only) {
}