@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:00,600,700|Source+Serif+Pro:400,700');
@import './foundation/foundation-sites';
@include add-foundation-colors;

// TEMP ////////////////////////////////////////////////////////////////////////
// @import './temp/steganography';
// @import './temp/scorched-button';
// @import './temp/splashscreen';

////////////////////////////////////////////////////////////////////////////////
// COMPONENTS
////////////////////////////////////////////////////////////////////////////////
@import './components/login-panel';
@import './components/top-bar';
@import './components/editor';
@import './components/macy';
@import './components/database-explorer';

////////////////////////////////////////////////////////////////////////////////
// GLOBAL
////////////////////////////////////////////////////////////////////////////////
// @import './global/layout_mode';
@import './global/prism';
@import './global/animation';
@import './global/tooltip';
@import './global/file-inputs';


// TYPOGRAPHY //////////////////////////////////////////////////////////////////
body {
  background: #f8f8f8;
}

a {
  color: $warning-color;

  &:hover {
    transition: color .1s ease-in-out;
    color: $alert-color !important;
  }
}

::selection {
  background: $light-gray;
}

code, kbd {
  border: 0;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 4px 8px;
  margin: 0 4px;
}

dl dt {
  margin-bottom: 0;
}

dd {
  margin-bottom: 1rem;
}

// BADGES, LABELS, PROGRESS ////////////////////////////////////////////////////
.label {
  font-size: 14px;
  padding: 9px 12px 9px;

  i {
    margin: 2px 4px 2px 0;
    display: inline-block;
    font-size: 1.2rem;
  }
}

span.badge {
  @extend .label;
  margin: 0 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 10rem;
  font-size: 14px;

  &.secondary {
    background-color: $lighter-gray;
    color: $medium-gray;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.progress, .progress-meter {
  border-radius: 10rem;
  height: 6px;
}

// CALLOUT /////////////////////////////////////////////////////////////////////

h4, h5, h6 {
  font-weight: 700;
  color: $dark-gray
}

.callout {
  border: 0;
  padding: 2rem;
  background-color: #e8e8e8;
  color: $black;
  box-shadow: $global-shadow;

  &.alert {
    background: $alert-color;
    h4, h5, h6, p {
      color: $white;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.success {
    @extend .alert;
    background: $success-color;
  }
  &.warning {
    @extend .alert;
    background: $warning-color;
  }
}

// BUTTONS /////////////////////////////////////////////////////////////////////
a.button, .button-group a.button, button.button, .button-group button.button {
  margin: 0 4px;
  padding: 8px 16px 6px 16px;
  border-radius: $global-radius;
  box-shadow: $global-shadow;
  transition: all .1s ease-in-out !important;
  font-size: 14px;
  background: $black;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover, &:focus {
    background: $alert-color !important;
    color: $white;
    outline: none !important;
  }

  &.primary, &.secondary, &.success, &.warning {
    &:hover, &:focus {
      background: $alert-color !important;
      color: $white;
      outline: none !important;
    }
  }

  &.secondary {
    background: $white;
    color: $medium-gray;
    box-shadow: $global-shadow-light;
  }

  &.alert {
    color: $white;
  }
}

// FORMS ///////////////////////////////////////////////////////////////////////

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5500s ease-in-out 0s;
}

// BREAKPOINT //////////////////////////////////////////////////////////////////
@include breakpoint(small) {
}
@include breakpoint(medium) {
}
@include breakpoint(large) {
}

@include breakpoint(small only) {
}
@include breakpoint(medium only) {
}
@include breakpoint(large only) {
}