input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
  cursor: pointer;
  display: inline-block;
  padding: 4px 16px 3px 16px;
  box-shadow: $global-shadow;
  border-radius: $global-radius;
  background: $black;
  color: $white;
  transition: $global-transition;
  user-select: none;
  z-index: 2;
  position: relative;

  span {
    background: #666;
    margin: -6px -20px -6px 12px;
    display: inline-block;
    padding: 4px 16px 3px 16px;
    border-radius: 0 $global-radius $global-radius 0;
    z-index: 2;
  }
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
    background-color: $alert-color;
}

.file-uploader-container {

  .input-group {
    margin-bottom: 0;
  }

  .label.status {
    opacity: 1;
    margin: 0;
    border-radius: 0 10rem 10rem 0;
    padding: 9px 24px 9px 20px;
    position: relative;

    &.shown {
      transition: all .2s ease-out;
      opacity: 1;
      transform: translateX(0px);
      background: $lighter-gray;
      color: $dark-gray;
    }

    &.hidden {
      transition: all .2s ease-in;
      opacity: 0;
      transform: translateX(-10px);
    }
  }

  .viewer {
    line-height: 0;
    display: block;
    &:not([src=""]) {
      margin-top: 1rem;
      border: 1px solid $light-gray;
      border-radius: $global-radius;
    }
  }
}
