////////////////////////////////////////////////////////////////////////////////
// INTRO PANEL
////////////////////////////////////////////////////////////////////////////////

#intro-panel {
  padding-top: 4rem;

  .logo {
    margin: 1rem 0 2.6rem 0;
    width: 60%;

    &:hover {
      @extend %flame-on;
    }
  }

  h5 {
    margin-top: 2rem;
  }

  .load {
    @extend %scorched-background;
    margin: 2rem -2rem -2rem -2rem;
    padding: 1rem 2rem;
    color: $medium-gray;
    font-size: 14px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// TOP BAR
////////////////////////////////////////////////////////////////////////////////

.top-bar {
  background: $lighter-gray;
  height: 3.5rem;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover,
  a:focus {
    outline: none !important;

    .logo {
      @extend %flame-on;
    }
  }

  .logo {
    height: 2rem;
    margin: 0 24px 8px 0;
    outline: none !important;
  }

  #log-in-status {
    color: $medium-gray;
    font-size: 14px;
    margin-right: 4px;
    margin-top: 2px;
  }

  #firebase-auth-container {
    button.button {
      padding: 8px 16px;
      line-height: 1.2;
      font-size: 14px;
      margin: 0 0 0 3px;
      height: 32px;

      &:hover {
        .button-text {
          color: white;
        }
      }

      @include breakpoint(small only) {
        padding: 0 8px;
      }
      span.button-text {
        margin: 0 0 0 4px;
        color: $dark-gray;
        @include breakpoint(small only) {
          display: none;
        }
      }

      &#google-login-button {
        &:hover {
          img {
            filter: grayscale(1) contrast(0%) brightness(200%);
          }
        }

        img {
          height: 18px;
          transform: translateY(-1px);
          filter: grayscale(1) contrast(0%) brightness(155%);
        }
      }

      i::before {
        font-size: 24px;
        line-height: 1px;
        transform: translateY(4px);
        display: inline-block;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// LOGIN/SIGNUP WITH EMAIL MODAL
////////////////////////////////////////////////////////////////////////////////

#login-signup-form-container,
#phone-auth-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5e5e599;
  display: flex;
  align-items: center;
  padding: 0.5rem;

  .grid-margin-x {
    flex: 1;
  }

  #status,
  #tel-status,
  #verification-status {
    margin-top: 1rem;
    color: $alert-color;
  }

  #login-signup-form,
  #phone-login-form {
    max-width: 480px;
  }
}

.invis {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.vis {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-in-out;
}

#phone-auth-container {
  .grid-x {
    flex-direction: column;
    align-items: center;
  }
  .invis {
    display: none;
  }
  .vis {
    display: block;
  }
}
