////////////////////////////////////////////////////////////////////////////////
// LOGIN PANEL
////////////////////////////////////////////////////////////////////////////////

.login-page {
  padding-top: 4rem;

  .logo {
    margin: 1rem 0 2.6rem 0;
    width: 60%;

    &:hover {
      @extend %flame-on;
    }
  }

  h5 {
    margin-top: 2rem;
  }

  .load {
    @extend %scorched-background;
    margin: 2rem -2rem -2rem -2rem;
    padding: 1rem 2rem;
    color: $medium-gray;
    font-size: 14px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// TOP BAR
////////////////////////////////////////////////////////////////////////////////

.top-bar {
  background: $lighter-gray;
  height: 3.5rem;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover,
  a:focus {
    outline: none !important;

    .logo {
      @extend %flame-on;
    }
  }

  .logo {
    height: 2rem;
    margin: 0 24px 8px 0;
    outline: none !important;
  }

  #log-in-status {
    color: $medium-gray;
    font-size: 14px;
    margin-right: 4px;
    margin-top: 2px;
  }

  .firebaseui-provider-sign-in-footer {
    display: none;
  }
  span.firebaseui-idp-text.firebaseui-idp-text-long {
    font-family: 'Roboto Condensed';
  }

  #firebase-auth-container {
    button.button {
      padding: 8px 16px;
      line-height: 1.2;
      font-size: 14px;
      margin: 0 0 0 3px;
      &:hover {
        .button-text {
          color: white;
        }
      }

      @include breakpoint(small only) {
        padding: 0 8px;
      }
      span.button-text {
        margin: 0 0 0 4px;
        color: $dark-gray;
        @include breakpoint(small only) {
          display: none;
        }
      }

      i::before {
        font-size: 28px;
        line-height: 1px;
        transform: translateY(5px);
        display: inline-block;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// FIREBASEUI OVERRIDES
////////////////////////////////////////////////////////////////////////////////

#firebaseui-auth-container {
  .firebaseui-container {
    max-width: unset;
    width: unset;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include breakpoint(small only) {
      display: block;
    }
    .firebaseui-card-content {
      padding: 0;
      .firebaseui-idp-list {
        display: flex;
        .firebaseui-list-item {
          margin: 0 3px;
          .firebaseui-idp-button {
            @extend .button;
            background: $white !important;
            max-width: unset;
            min-width: unset;
            min-height: unset;
            padding: 7px 16px !important;
            @include breakpoint(small only) {
              padding: 8px 8px 6px !important;
            }
            &:hover {
              .firebaseui-idp-icon {
                filter: saturate(0) brightness(1000%) contrast(100%) !important;
                -webkit-filter: saturate(0) brightness(1000%) contrast(100%) !important;
              }
              .firebaseui-idp-text {
                color: $white;
                padding-left: 8px;
              }
            }
            .firebaseui-idp-icon-wrapper {
              .firebaseui-idp-icon {
                filter: saturate(0) brightness(1000%) contrast(60%);
                -webkit-filter: saturate(0) brightness(1000%) contrast(60%);
              }
            }
            .firebaseui-idp-text {
              color: $dark-gray;
              padding-left: 8px;
              @include breakpoint(small only) {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
}
.mdl-card {
  display: flex !important;
  position: absolute;
  height: 100vh;
  width: 100% !important;
  left: 0;
  top: 0;
  align-items: center !important;
  justify-content: center !important  ;
  background: #e5e5e599;
  form {
    background: $white;
    box-shadow: $global-shadow;
    margin: 1rem;
    padding: 2rem;
    border-radius: $global-radius;
    font-family: 'Roboto Condensed', sans-serif;
    strong {
      color: $black;
    }
    .firebaseui-card-header {
      padding: 0;
      margin: 0 0 2rem 0 !important;
      h1 {
        color: $black;
        font-size: 2rem;
        padding: 0;
      }
    }
    .firebaseui-card-content {
      label[for='phoneNumber'] {
        display: none;
      }
      .firebaseui-id-country-selector {
        margin: 0;
        align-self: center;
        border-bottom: 0;
      }
      .firebaseui-flag {
        filter: grayscale(1);
      }
    }
    .firebaseui-card-actions {
      padding: 0;
      .firebaseui-id-secondary-link {
        @extend .button.secondary;
        text-transform: none;
        font-size: 1rem;
        color: $dark-gray;
        &:hover {
          background: none;
        }
      }
      .firebaseui-id-submit {
        @extend .button.primary;
        text-transform: none;
        font-size: 1rem;
        &:focus {
          box-shadow: $global-shadow;
        }
      }
    }
    .firebaseui-tos {
      margin: 2rem 0 0 0;
      color: $medium-gray;
    }
  }
}
.mdl-textfield {
  padding: 0;
  margin-bottom: 0;
  .mdl-textfield__input {
    margin-bottom: 0;
  }
}
.firebaseui-id-country-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}
.firebaseui-link {
  color: $alert-color;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.firebaseui-info-bar {
  background: #c4c4c4;
  border: 0;
  box-shadow: none;
  border-radius: 0 0 $global-radius $global-radius;
  .firebaseui-info-bar-message {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.875rem;
    margin: 0;
    padding: 6px;
    color: $black;
  }
}
.firebaseui-id-list-box-dialog-button {
  padding: 4px 1rem;
  min-height: unset;
}
.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  display: none;
}
label.mdl-textfield__label.firebaseui-label {
  display: none;
}
.firebaseui-resend-container {
  @extend .button;
  box-shadow: $global-shadow;
  font-family: 'Roboto Condensed';
  margin: 20px 0;
  text-align: center;
  font-size: 1rem;
  background: $white;
  padding: 10px 16px 8px;
  border-radius: $global-radius;
  margin: 0;
  transition: $global-transition;
  a {
    color: $medium-gray !important;
    font-weight: 400;
  }
  &:hover {
    background: $alert-color;
    a {
      color: $white !important;
      text-decoration: none;
    }
  }
}
.mdl-textfield .firebaseui-input {
  padding: 0 8px;
  border: 1px solid $medium-gray;
  border-radius: $global-radius;
}
button.firebaseui-button {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.mdl-dialog.firebaseui-dialog {
  box-shadow: $global-shadow;
  color: $black;
  font: 16px 'Roboto Condensed', Roboto, sans-serif;
  padding: 24px 24px 12px;
  background: #c4c4c4;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .firebaseui-dialog-icon-wrapper {
    filter: grayscale(1);
  }
}
