.db-explorer-container {
  .input-group {
    margin-bottom: 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    .input-group-label {
      height: 34px;
      flex: 1;
      @include breakpoint(small only) {
        width: 100%;
      }
    }

    .input-group-field {
      flex-basis: 100%;
      height: 38px;
    }

    .group {
      display: flex;
      @include breakpoint(small only) {
        flex: 1;
        flex-basis: 100%;
      }
      .copy-button,
      .clear-button,
      .copy-json-button {
        flex: 1;
        text-align: center;
        margin: 0 2px 0 0;
        border-radius: $global-radius $global-radius 0 0;
        &:hover {
          background: $alert-color;
          color: $white;
        }
      }
    }

    .clear-button {
      color: $white;
      background: $dark-gray;
      box-shadow: $global-shadow;
      margin-left: 2px;
    }
  }

  a.button.copy-json-button {
    color: $white !important;
    &:hover {
      background: $alert-color;
      color: $white;
    }
  }

  .path-field {
    border: 1px solid $light-gray;
    border-radius: 0 $global-radius 0 0;
  }

  .input-group-label {
    border: 0;
    border-radius: $global-radius 0 0 0;
  }

  .token.property {
    cursor: pointer;
  }

  .code-toolbar {
    border-radius: 0 0 $global-radius $global-radius;
    overflow: hidden;

    pre {
      margin: 0;
      height: 300px;
      max-height: 450px;
    }

    .toolbar {
      display: none;
    }
  }
}
