$masonry-grid-column-gap: $global-margin;

.masonry-grid {
  column-count: 1;
  column-gap: $masonry-grid-column-gap;

  @include breakpoint(640px) {
    column-count: 2;
  }

  @include breakpoint(1024) {
    column-count: 3;
  }
}

.masonry-grid-item {
  break-inside: avoid;
  margin-bottom: $masonry-grid-column-gap;
}


