#macy-container {
  column-gap: 16px;
  @include breakpoint(small) {
    column-count: 1
  }
  @include breakpoint(medium) {
    column-count: 2
  }
  @include breakpoint(large) {
    column-count: 3
  }
  > div {
    break-inside: avoid;
    margin-bottom: 16px;
  }
}