// TOP BAR /////////////////////////////////////////////////////////////////////

.top-bar {
  background: $lighter-gray;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  height: 3.5rem;

  a:hover, a:focus {
    outline: none !important;

    .logo {
      @extend %flame-on;
    }
  }

  .logo {
    height: 2rem;
    margin: 0 24px 8px 0;
    outline: none !important;
    // @extend %flame-on;
  }

  .log-in-status {
    color: $medium-gray;
    font-size: 14px;
    margin-right: 4px;
  }

  .log-in.button {
    margin: 0 0 0 4px;
    color: $dark-gray;
    background: $white;
    font-size: 14px;

    &:hover {
      background: $alert-color;
      color: $white;
    }
  }
}