////////////////////////////////////////////////////////////////////////////////
// SPLASH SCREEN
////////////////////////////////////////////////////////////////////////////////

#splash {
  position: fixed;
  top: 0;
  display: flex;
  background: #fafafa;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-image: url('../img/logo-scorched.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30vw auto;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s ease-in;

  &.hidden {
    opacity: 0;
  }
}
