/*//////////////////////////////////////////////////////////////////////////////
// BASIC STYLES
//////////////////////////////////////////////////////////////////////////////*/

body {
  background: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto Condensed', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h2 {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 0.4rem;
  margin: 0 auto;
  color: #e5e5e5;
  padding: 0;
}

#noteContainer,
#extrasContainer,
#stegoContainer {
  margin-top: 2rem;
}

button,
input[type='file'] {
  cursor: pointer;
}

button:hover,
#authStatus button:hover {
  background: #e5e5e5;
  transition: all 0.3s;
}

::-moz-selection {
  /* Code for Firefox */
  /* color: #fff; */
  background: #ddd;
}

::selection {
  /* color: #fff; */
  background: #ddd;
}

#page {
  margin: 0 1rem;
}

#logo {
  display: flex;
  width: 80%;
  margin: 0 auto 3rem;
}

#logo-small {
  display: flex;
  height: 33px;
  padding: 0 1rem 6px;
}

li,
p,
h1,
h2,
h3,
h4,
a,
button,
input,
textarea {
  color: #666;
  font-family: 'Roboto Condensed', Roboto, Helvetica, Arial, sans-serif;
}

button {
  border: 0;
  border-radius: 3px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////
// NOTE
//////////////////////////////////////////////////////////////////////////////*/

.note {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 0.4rem;
  margin: 1rem auto;
  padding: 1rem;
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.8);
  max-width: 40rem;

  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  .noteHeader {
    display: flex;
    justify-content: space-between;
  }

  .noteButton {
    padding: 6px;
    height: 30px;
    width: 30px;

    :hover {
      background: #c4c4c4;
      color: white;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      position: relative;
    }

    :hover::after {
      background: #c4c4c4;
      color: white;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      content: 'Edit';
      padding: 7.5px;
      border-radius: 4px;
      position: absolute;
      left: 35px;
      top: 0;
      pointer-events: none;
    }
  }

  .delete:hover {
    background: #ff4400;
    color: white;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
  }

  .delete:hover::after {
    background: #ff4400 !important;
    color: white;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    content: 'Delete' !important;
    padding: 7.5px;
    position: absolute;
    border-radius: 4px;
    left: 35px;
    top: 0;
    pointer-events: none;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
// UPDATE FORM
//////////////////////////////////////////////////////////////////////////////*/

.scratchpad {
  border: 2px dashed #ddd;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 0.4rem;
  margin: 1rem auto;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.4);
  max-width: 40rem;
}
.scratchpad h3 {
  margin-top: 0;
}

pre#outputField {
  overflow: scroll;
  padding-bottom: 20px;
  font-size: 1em;
}

/* /////////////////////////////////////////////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 600px) {
  body,
  #message {
    margin-top: 0;
    box-shadow: none;
  }
  #message {
    margin-top: 20px;
  }

  #splash {
    background-size: 50vw auto;
  }
}
